
<ion-content>
  <form>
      <h1>Sign up</h1>
    <ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input required type="text" [(ngModel)]="fname" [ngModelOptions]="{standalone: true}" ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input required type="text" [(ngModel)]="lname" [ngModelOptions]="{standalone: true}" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input required type="text" [(ngModel)]="uname" [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contact Number</ion-label>
        <ion-input required type="text" [(ngModel)]="contact" [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input required type="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input required="text" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    </ion-list>
    <br />
    <ion-button color="success" shape="block" (click)="register()" button>Submit</ion-button>
  </form>
  <p>Already have an account?<u [routerLink]="['/sign-in']">Sign in</u></p>
</ion-content>
